# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

FRONTEND_GUIDE.md
FRONTEND_EXPLAINED.md
BACKEND_INTEGRATION.md
MOBILE_CSS_FIX.md
MOBILE_DESIGN.md
MOBILE_LANDING.md
BACKEND_INTEGRATION.md

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
